@tailwind base;
@tailwind components;
@tailwind utilities;

/* Contact Icons */
.contact-icon {
  @apply w-16 h-16 rounded-full border border-custom-green text-custom-green flex items-center justify-center hover:bg-custom-green hover:text-custom-dark transition-all duration-300;
}

.contact-icon svg {
  @apply w-6 h-6; /* Adjust the size as needed */
}

h1 {
  font-size: 5rem;
  position: relative;
  display: inline-block;
  color: black;
  overflow: hidden;
}
